%h1 Grad-App control page for Graduate Application
%hr
This page will display general information about application listings.
%br
A table or list group will need to be populated by applications in progress
%br
= link_to 'Start New Application', applications_new_path
%br
= link_to 'User control', users_path