<div class="container" style="max-width:1024px;margin-top:15px">
  <div class="row">
    <h1>
      Landing Page for Graduate Application
    </h1>
    <hr>
    <div class="col-sm-8">
      <h2>
        Coming Soon
      </h2>
      <p>
        This website will host the graduate application
        submission web application to allow prospective students
        coordinate with the university and allow faculty coordinate in
        making approval decisions.
      </p>
    </div>
    <div class="col-sm-4" style="margin-top:50px">
      <%= render :file => 'layouts/login.html.erb'  %>
      <form>
        <button class="btn" type="submit" disabled>Make New Account</button>
      </form>
      <%# @users.each do |user| %>
      <%#= user.name %>
      <%# end %>
    </div>
  </div>
</div>
