%div{:class => "row"}
  %h1 Landing Page for Graduate Application
  %hr
  %div{:class => "col-sm-8"}
    %h2 Coming Soon
    %p This website will host the graduate application submission web application to allow prospective students coordinate with the university and allow faculty coordinate in making approval decisions.
  %div{:class => "col-sm-4", :style => "margin-top:10px"}
    - if flash[:login]
      %div{:class => "alert alert-warning"}
        = flash[:login]
    = render :file => 'layouts/login.html.haml'
    = link_to 'Register', users_new_path, {:class => "link-primary"}
    = button_to "Log in with Google", '/auth/google_oauth2'
