%div{:class => "row",:style => "max-width:1048px;margin:auto"}
  = new_header "Landing Page for Graduate Application"
  %hr
  %div{:class => "col-sm-8"}
    %h2 Coming Soon
    %p This website will host the graduate application submission web application to allow prospective students coordinate with the university and allow faculty coordinate in making approval decisions.
  %div{:class => "col-sm-4"}
    = render :file => 'layouts/login.html.haml'
    = link_to 'Register', users_new_path, {:class => "link-primary"}