-#This will be the view which displays user info and allows routing to other user actions
-# %h1 User control page for Graduate Application
= new_header "User control page for Graduate Application"
%hr
%p Consider this page to be a primary hub for one logged in.

%p It is within here navigation to various resources may occur, such as comparing schools.

%p A user can be directed from here via link to view the application page. They can also be redirected from here via link to faculty controls, should they be faculty.
= link_to "View Applications", users_applications_path

%p This edit link should be placed into a higher-order template so that it can be displayed on all pages:
= link_to "Edit User Information", users_edit_path