<form>
  <div class="input-group">
    <label class="input-group-text">Email: </label>
    <input type="text" class="form-control" placeholder="Your Email" disabled>
  </div>
  <div class="input-group">
    <label class="input-group-text">Password: </label>
    <input type="password" class="form-control" placeholder="Password" disabled>
  </div>
  <button class="btn" type="submit" disabled>Submit</button>
</form>