%form
  %div{:class => "input-group"}
    %label{:class => "input-group-text"} Email:
    %input{:type => "text", :class => "form-control", :placeholder => "Your Email", :disabled => true}
  %div{:class => "input-group"}
    %label{:class => "input-group-text"} Password:
    %input{:type => "password", :class => "form-control", :placeholder => "Password", :disabled => true}
  %button{:class => "btn", :type =>"submit", :disabled => true} Submit